body{
    background: url(../img/login/back3.png);
	background-color: #444;
    background: url(../img/login/pinlayer2.png),url(../img/login/pinlayer1.png),url(../img/login/back3.png);    
}

.vertical-offset-100{
    padding-top:100px;
}

.panel-index{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}