/* Reset */
* {
	background: transparent;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: inherit;
}
body {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	line-height: 200%;
	background: #eeeeee;
	color: #888888;
}
a,
a:hover,
a:active {
	text-decoration: none;
}
p {
	margin: 0px 0px 20px 0px;
	line-height: 200%;
}
h1,
h2 {
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	color: #ffffff;
	padding: 20px;
}
h1 {
	font-weight: 300;
	font-size: 32px;
	background: #222222;
}
h2 {
	font-weight: 700;
	font-size: 20px;
	background: #77c043;
	display: inline-block;
	margin: 0px 0px 20px 0px;
}
/* Layout */
#container-outer,
#container {
	width: 100%;
	overflow: hidden;
	display: block;
}
#container-inner {
	max-width: 880px;
	overflow: hidden;
	display: block;
	padding: 50px;
	margin: 50px auto;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	background: #ffffff;
}
/* Mobile Menu */
.mobile-header {
	margin-left: 30px;
	margin-top: 30px;
	line-height: 100%;
	width: 70%;
	display: block;
	position: relative;
	z-index: 30;
	background: #ffffff;
	z-index: 9999;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.mobile-header ul {
	margin: 0px;
	padding: 0px;
	z-index: 30;
	list-style: none;
}
.mobile-header ul li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 30;
	width: 25%;
}
.mobile-header ul li a {
	margin: 0px;
	padding: 20px 0px;
	width: auto;
	display: block;
	background: none;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #888888;
	cursor: pointer;
	border-right: 1px solid #eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.mobile-header ul li a:hover,
.mobile-header ul li.active,
.mobile-header ul li.active a {
	color: #ffffff;
	background: #77c043;
}
.mobile-header ul li a:hover,
.mobile-header ul li.active a {
	border-right: 1px solid #63A832;
}


/* Floats */
.clearfloat:after {
	content: ""; 
	display: table;
	clear: both;
}

#sidebar {
	width: 200px;
	float: right;
	margin-right: 50px;
	padding: 5px 0 0 5px;
}
.size_inc{
	height:47px;
	display:table-cell;
	vertical-align: middle;
}
.center-gly{
	padding-bottom: 11px;
}